.u-section-1 .u-sheet-1 {
  min-height: 616px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 413px;
  margin: 202px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 14px auto 60px 450px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 138px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-right: -95px;
    margin-left: 95px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}